<div id="wrapper" ng-controller="MainCtrl">

  <div id="map_canvas" ui-map="map"
      ui-options="mapOptions"
      ui-event="{'map-idle' : 'onMapIdle()'}">
  </div>

</div>


<div class = "container">

  <div style="text-align:center">

    </br></br>

    <p>Enter zip code to see nearby coffee shops with free Wi-Fi.</p>
    <p>Select a shop to view Wi-Fi speed and run your own speed test.</p></br>

    <%= form_tag("/places/index", method: "get") do %>
      <%= text_field_tag :zip_code, nil, placeholder: "zip code" %>
      <%= submit_tag("Search") %>
    <% end %>

  </div>

</div>