<div class = "container">

  <div style="text-align:center">

    <h2>Welcome to CoffeeConnect!</h2></br>

    <img src="https://lh4.ggpht.com/BW1ss243O2fsT61PzpSeq5BEfG_JDuWAwhqUAPx3DuRaIKkn2q6QMW_-sWv0wpqoRg=w300-rw">
    </br></br>

    <p>Enter zip code to see nearby coffee shops with free Wi-Fi.</p>
    <p>Select a shop to view Wi-Fi speed and run your own speed test.</p></br>

    <%= form_tag("/places/index", method: "get") do %>
      <%= text_field_tag :zip_code, nil, placeholder: "zip code" %>
      <%= submit_tag("Search") %>
    <% end %>

  </div>

</div>