<tr>
  <td>
    <div class="resultName">
      <h4>{{name}}</h4>
      {{full_address}}<br>
      <img src="{{rating_img}}"/><br>
      Wi-Fi avg download speed: 100 Mbps<br>
    </div>
    <div class="addToButton"><a href="/{{yelp_id}}"><button type="button" class="viewDetails btn btn-success btn-xs">View Details</button></a>
   </div>
  </td> 
</tr>